<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Admin panel</h2>
<a th:href="@{/logout}">Выйти из аккаунта</a>


<table border="1">
    <thead>
    <td>ID</td>
    <td>Username</td>
    <td>First name</td>
    <td>Last name</td>
    <td>E-mail</td>
    <td>Roles</td>
    </thead>
    <tr th:each="user: ${users}">
        <td >
            <a th:href = "@{/admin/show(id = ${user.getId()})}" th:text="${user.getId()}"></a>
        </td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <li th:each="role: ${user.getRoles()}" th:text="${role.getName()}"></li>
        </td>
    </tr>
</table>
<a th:href="@{/users/new}">Create new user</a>
</body>
</html>